:root
  --color-back-grey: rgba(211, 206, 206, .7)
  --color-back-black: rgba(0, 0, 0, 0.85)
  --color-white: rgb(255, 255, 255)
  --color-black: rgb(0, 0, 0)
  --color-red: rgb(255, 0, 0)
  
*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-size: 16px
  font-family: 'PT Sans', sans-serif
  letter-spacing: .2px

header
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  min-height: 19vh
  padding: 3vh 8vw 1vh
  background-color: var(--color-white)
  text-align: center

main
  display: flex
  justify-content: space-evenly
  min-height: 75vh
  text-align: center
  padding: 2vh 8vw
  
button,
a
  height: 70px
  border: 1px solid var(--color-black)
  border-radius: 30px
  font-size: 1.5rem
  text-decoration: none
  display: flex
  justify-content: center
  align-items: center
  transition: all .5s
  cursor: pointer
  color: var(--color-white)
  background-color: var(--color-black)

button:hover,
a:hover
  color: var(--color-black)
  background-color: var(--color-white)

button[type=submit]
  align-self: flex-end
  color: var(--color-black)
  background-color: var(--color-white)

button[type=submit]:hover
  background-color: var(--color-black)
  color: var(--color-white)
  border: 1px solid var(--color-white)

footer
  height: 6vh
  color: var(--color-white)
  background-color: var(--color-black)
  display: flex
  justify-content: center
  align-items: center
  padding: 0 8vw

select,
input
  cursor: pointer

ul
  list-style: none

h1
  font-size: 3rem
  text-shadow: 1px 1px 1px grey

h2
  width: 100%
  font-size: 2.4rem
  font-weight: 400
  line-height: 1.5
  text-shadow: 1px 1px 1px grey

h3
  font-size: 1.4rem

@media (min-width: 1024px)
  button,
  a
    width: 300px
    min-width: 300px

@media (max-width: 1024px)
  *
    font-size: 15px
  button,
  a
    width: 270px
    height: 60px

@media (max-width: 640px)
  main
    flex-direction: column
    padding: 2em 3vw
  button,
  a
    width: 230px
    
@media (max-width: 576px)
  *
    font-size: 14px
  button,
  a
    width: 200px

@media (max-width: 420px)
  *
    font-size: 13px
  button,
  a
    width: 180px
    height: 50px