*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: 'PT Sans', sans-serif

header
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  min-height: 20vh
  padding: 0 8vw
  background-color: white
  text-align: center

section
  width: 100vw
  min-height: 95vh
  display: flex
  flex-direction: column
  align-items: center

main
  display: flex
  justify-content: space-evenly
  width: 100%
  min-width: 300px
  text-align: center
  
main
  min-height: 75vh
  padding: 2em 8vw

button, a
  height: 70px
  border: 1px solid black
  border-radius: 45px
  font-size: 1.5rem
  letter-spacing: 0.05em
  text-decoration: none
  display: flex
  justify-content: center
  align-items: center
  transition: all .5s
  cursor: pointer
  color: white
  background-color: black

button:hover, a:hover
  color: black
  background-color: white

button[type=submit]
  align-self: flex-end
  color: black
  background-color: white

button[type=submit]:hover
  background-color: black
  color: white
  border: 1px solid white

footer
  height: 5vh
  width: 100vw
  color: white
  background-color: black
  display: flex
  justify-content: center
  align-items: center

select, input
  cursor: pointer

h1
  font-size: 3rem
  text-shadow: 1px 1px 1px grey
  letter-spacing: .04em

h2
  width: 100%
  font-size: 2.4rem
  font-weight: 400
  line-height: 1.5em
  text-shadow: 1px 1px 1px grey
  letter-spacing: .03em

h3
  font-size: 1.4rem

@media (max-width: 460px)
  *
    font-size: 14px
  button, a
    width: 200px

@media (min-width: 461px)
  button, a
    width: 270px

@media (max-width: 640px)
  main
    flex-direction: column

@media (min-width: 641px)
  *
    font-size: 16px

@media (min-width: 1024px)
  button, a
    width: 300px