.main header {
    min-height: 55vh;
    background-color: #929292;
    background-image: url("../public/images/back.jpg");
    background-blend-mode: screen;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .main main {
    min-height: 40vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .main main p {
    display: none;
  }