.offer h3, .single-offer h3 {
    margin: .5rem 0;
}
  
.offer a, .single-offer a {
    margin: 1rem auto .5rem auto;
}

.offers-list, .district-offers-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.5rem;
}
  
.single-offer {
    width: 25vw;
    margin: 2rem;
    padding: 1rem;
    background-color: rgba(211, 206, 206, .7);
}
  
.single-offer h3, .offer h3 {
    margin: .5rem 0;
}
  
.single-offer a, .offer a {
    margin: 1rem auto .5rem auto;
}
  
.filtered-results .offer {
    width: 90%;
    min-height: 70%;
    margin: 2rem;
    padding: 1rem;
    background-color: rgba(211, 206, 206, .7);
}