.sale header {
    min-height: 20vh;
    background-color: white;
}
  
.sale main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 75vh;
    padding: 2em 6vw 2em 6vw;
    background-color: #929292;
    background-image: url("../public/images/back-sale.jpg");
    background-blend-mode: screen;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
  
.sale main p.text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    font-size: 2rem;
    line-height: 2em;
    text-shadow: 1px 1px 1px grey;
    letter-spacing: .02em;
    text-align: left;
    font-weight: 500;
    -ms-flex-item-align: end;
    align-self: flex-end;
    width: 80%;
}
  
.sale main form {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 1.7em 0 0 1.7em;
    margin: 0 auto;
    border-radius: 5px;
}
  
.sale main form label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; 
    font-size: 1.3rem;
    font-style: italic;
    text-align: left;
    color: white;
}

.sale main form label input, .sale main form label option, .sale main form label select {
    width: 400px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: .3em;
    height: 30px;
}

.sale main form label span {
    font-size: 1.2rem;
    letter-spacing: .03em;
    color: red;
    margin-top: .3em;
}

.sale main form button {
    -ms-flex-item-align: right;
    -ms-grid-row-align: right;
    align-self: right;
    margin: 0 1.5em 1.5em 0;
}

.form-error {
    font-size: 1rem;
    color: red;
    text-align: start;
  }
  